:root {
  --primary-font: "Roboto", sans-serif;
  --logo-font: "Raleway", sans-serif;
  --primary-brand-color: #4d5ae5;
  --pressed-state-color: #404bbf;
  --dark-color: #2e2f42;
  --text-color: #434455;
  --accent-color: #e7e9fc;
  --light-color: #f4f4fd;
  --white-background: #fff;
  --green-color: #31d0aa;
  --light-slate: #8e8f99;
}
body {
  font-family: var(--primary-font);
  color: var(--text-color);
  background-color: var(--white-background);
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin-top: 0;
  margin-bottom: 0;
}
ul {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}
img {
  display: block;
}

input {
  font-family: inherit;
}
/*--------------------header--------------------*/
.header {
  border-bottom: 1px solid var(--accent-color);
  box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 1px 6px rgba(46, 47, 66, 0.08);
}

.container {
  max-width: 426px;
  width: 100%;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
  padding-top: 24px;
  padding-bottom: 24px;
}

.nav {
  display: flex;
  align-items: center;
  flex-grow: 1;
}
.nav-list {
  display: flex;
  gap: 40px;
  display: none;
}

.list-address {
  display: flex;
  gap: 40px;
  display: none;
}
.header-container {
  display: flex;
  align-items: center;
}
.logo {
  font-family: var(--logo-font);
  font-size: 18px;
  color: var(--primary-brand-color);
  font-weight: 800;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}

.link {
  text-decoration: none;
}
.list {
  list-style: none;
}
.dark-studio {
  color: var(--dark-color);
}

.menu-list {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--dark-color);
  text-decoration: none;
  padding: 24px 0;
  display: block;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.menu-list:hover,
.menu-list:focus {
  color: var(--pressed-state-color);
}

.current {
  position: relative;
  color: var(--pressed-state-color);
}

.current::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -1px;
  height: 4px;
  width: 100%;
  border-radius: 2px;
  background-color: var(--pressed-state-color);
}

.current:hover::after {
  content: "";
  position: absolute;
  height: 4px;
  width: 100%;
  border-radius: 2px;
  bottom: 0;
  left: 0;
  background-color: var(--pressed-state-color);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.address {
  font-style: normal;
}

.contacts {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--text-color);
  text-decoration: none;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.contacts:hover,
.contacts:focus {
  color: var(--pressed-state-color);
}

/*--------------------solutions--------------------*/
.title {
  background-color: var(--dark-color);
  margin: 0 auto;
  padding: 112px 0;
  background-image: linear-gradient(
      rgba(46, 47, 66, 0.7),
      rgba(46, 47, 66, 0.7)
    ),
    url(../images/bg-mob.jpg);
  max-width: 428px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

@media (min-device-pixel-ratio: 2),
  (min-resolution: 192dpi),
  (min-resolution: 2dppx) {
  .title {
    background-image: linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url(../images/bg-mob-2x.jpg);
  }
}

.main-title {
  /*font-size: 56px;*/
  font-size: 36px;
  font-weight: 700;
  /*line-height: 1.07;*/
  line-height: 1.11;
  letter-spacing: 0.02em;
  color: var(--white-background);
  /*max-width: 496px;*/
  max-width: 320px;
  margin: 0 auto;
  text-align: center;
}
.main-button {
  display: block;
  margin: auto;
  font-size: 16px;
  font-family: var(--primary-font);
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: var(--white-background);
  background-color: var(--primary-brand-color);
  cursor: pointer;
  padding: 16px 32px;
  border-radius: 4px;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
  /*margin-top: 48px;*/
  margin-top: 72px;
  min-width: 169px;
  height: 56px;
  border: none;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.main-button:hover,
.main-button:focus {
  color: var(--white-background);
  background-color: var(--pressed-state-color);
}

/*--------------------features--------------------*/
.features {
  padding: 96px 0;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.item-features:not(:last-child) {
  margin-bottom: 72px;
}

.features-block {
  width: 264px;
  height: 112px;
  background-color: var(--light-color);
  border-radius: 4px;
  margin-bottom: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
  display: none;
}

.title-feature {
  font-size: 36px;
  font-weight: 700;
  line-height: 1.11;
  letter-spacing: 0.02em;
  color: var(--dark-color);
  margin-bottom: 8px;
  text-align: center;
}
.feature-text {
  color: var(--text-color);
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  font-weight: 500;
}

/*--------------------doings--------------------*/
.doings .container {
  display: none;
}

/*--------------------team--------------------*/

.team {
  background-color: var(--light-color);
  padding: 96px 0;
}

.team-title {
  font-size: 36px;
  font-weight: 700;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-align: center;
  text-transform: capitalize;
  color: var(--dark-color);
  margin-bottom: 72px;
}

.cards {
  background-color: var(--white-background);
  border-radius: 0px 0px 4px 4px;
  box-shadow: 0px 2px 1px 0px rgba(46, 47, 66, 0.08),
    0px 1px 1px 0px rgba(46, 47, 66, 0.16),
    0px 1px 6px 0px rgba(46, 47, 66, 0.08);
  width: 264px;
  margin: 0 auto;
}

.cards:not(:last-child) {
  margin-bottom: 72px;
}

.name-profession {
  padding: 32px 0;
}

.team-card-name {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: var(--dark-color);
  text-align: center;
  margin-bottom: 8px;
}

.team-card-profession {
  color: var(--text-color);
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  text-align: center;
}

.socials-block-icons {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 8px;
  gap: 24px;
}

.socials-block:hover {
  background-color: var(--green-color);
}
.socials-icons {
  fill: var(--light-color);
}

.socials-link {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
  background-color: var(--primary-brand-color);
  border-radius: 50%;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.socials-link:hover,
.socials-link:focus {
  background-color: var(--pressed-state-color);
}

/*--------------------customers--------------------*/
.customers {
  padding: 96px 0;
}

.customers-title {
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: var(--dark-color);
  margin-bottom: 72px;
  font-weight: 700;
}

.customers-block {
  display: flex;
  flex-wrap: wrap;
  column-gap: 16px;
  row-gap: 72px;
}

.customers-list {
  width: calc((100% - 16px) / 2);
  height: 88px;
}

.customers-link {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 4px;
  border: 1px solid var(--light-slate);
  width: 100%;
  height: 100%;
  color: var(--light-slate);
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.customers-link:hover {
  color: var(--pressed-state-color);
  border-color: var(--pressed-state-color);
}

.customers-link:focus {
  color: var(--pressed-state-color);
  border-color: var(--pressed-state-color);
}

.customers-link:is(:hover) .customers-icons {
  fill: currentColor;
}

.customers-icons {
  fill: currentColor;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

/*--------------------footer--------------------*/
.footer {
  background-color: var(--dark-color);
  /*padding: 100px 0;*/
  padding: 96px 0;
}

.logo-and-paragraf {
  /* margin-right: 120px*/
  margin-bottom: 72px;
}

.logo-footer {
  /*display: inline-block;*/
  display: block;
  text-align: center;
  margin-bottom: 16px;
}

.footer .studio {
  color: var(--light-color);
}

.footer-paragraph {
  font-size: 16px;
  line-height: 1.5;
  color: var(--light-color);
  letter-spacing: 0.02em;
  width: 100%;
  /*max-width: 264px;*/
  max-width: 268px;
  margin: 0 auto;
}

.footer-social-media {
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--white-background);
  margin-bottom: 16px;
  text-align: center;
}

.footer-icons-link {
  width: 40px;
  height: 40px;
  background-color: var(--primary-brand-color);
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-icons-link:hover,
.footer-icons-link:focus {
  background-color: var(--green-color);
}

.socials-icons {
  fill: var(--light-color);
}

.socials-block-icons-footer {
  display: flex;
  gap: 16px;
  margin-top: 8px;
  align-items: center;
  justify-content: center;
  margin-bottom: 72px;
}
/*--------------------form-subscribe--------------------*/

.subscribe {
  text-align: center;
}

.fotter-form-text {
  color: var(--light-color);
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.02em;
  margin-bottom: 16px;
}

.input-subscribe {
  font-family: inherit;
  color: var(--white-background);
  font-size: 12px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  border-radius: 4px;
  border: 1px solid var(--white-background);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  background-color: transparent;
  /*width: 264px;*/
  width: 100%;
  height: 40px;
  padding-left: 16px;
  padding-top: 8px;
  padding-bottom: 8px;
  margin-bottom: 16px;
}

.input-subscribe::placeholder {
  color: var(--white-background);
  font-size: 12px;
  line-height: 2;
  letter-spacing: 0.04em;
}

.button-subscribe {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 16px;
  font-family: var(--primary-font);
  color: var(--white-background);
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
  padding: 8px 24px;
  border-radius: 4px;
  background: var(--primary-brand-color);
  min-width: 165px;
  height: 40px;
  border: none;
  cursor: pointer;
  margin: 0 auto;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.button-subscribe:hover,
.button-subscribe:focus {
  color: var(--white-background);
  background-color: var(--pressed-state-color);
}

.send-subscribe {
  fill: var(--white-background);
  margin-left: 16px;
}

/*--------------------buttons-portfolio--------------------*/
.portfolio-section {
  padding-top: 96px;
  padding-bottom: 120px;
}

.buttons {
  display: flex;
  justify-content: center;
  gap: 24px;
  margin-bottom: 72px;
}

.button-list {
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.filter {
  font-family: var(--primary-font);
  font-weight: 500;
  letter-spacing: 0.04em;
  font-size: 16px;
  line-height: 1.5;
  color: var(--primary-brand-color);
  background-color: var(--light-color);
  cursor: pointer;
  border-radius: 4px;
  border: 1px solid var(--accent-color);
  padding: 12px 24px;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.filter:hover,
.filter:focus {
  color: var(--white-background);
  background-color: var(--pressed-state-color);
  border: 1px solid transparent;
  box-shadow: 3px 1px rgba(0, 0, 0, 0.1), 0px 2px 1px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
}

.portfolio-list-img {
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  row-gap: 48px;
  column-gap: 24px;
}

.list-item-portfolio {
  background: var(--white-background);
  width: calc((100% - 48px) / 3);
}

.portfolio-link {
  display: block;
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-link:hover,
.portfolio-link:focus {
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}

.portfolio-link:is(:hover, :focus) .portfolio-cover-text {
  transform: translateY(0);
}

.img-and-text {
  position: relative;
  overflow: hidden;
}

.portfolio-cover-text {
  position: absolute;
  top: 0;
  left: 0;
  color: var(--light-color);
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  background-color: var(--primary-brand-color);
  height: 100%;
  padding: 40px 32px;
  transform: translateY(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.cards-name-filter {
  padding-top: 32px;
  padding-right: 16px;
  padding-bottom: 32px;
  padding-left: 16px;
  border: 1px solid var(--accent-color);
  border-top: none;
}
.title-picture {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: var(--dark-color);
  margin-bottom: 8px;
}
.picture-text {
  color: var(--text-color);
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
}

/*--------------------modal-backdrope--------------------*/

.backdrope {
  position: fixed;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(46, 47, 66, 0.4);
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal {
  padding-left: 24px;
  padding-right: 24px;
  padding-bottom: 24px;
  padding-top: 72px;
  /*width: 408px;*/
  width: 100%;
  max-width: 392px;
  min-height: 584px;
  background-color: #fcfcfc;
  border-radius: 4px;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.button-close {
  position: absolute;
  top: 24px;
  right: 24px;
  width: 24px;
  height: 24px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--accent-color);
  border: 1px solid rgba(0, 0, 0, 0.1);
  padding: 0;
  cursor: pointer;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.button-close:hover,
.button-close:focus {
  border: none;
  background-color: var(--pressed-state-color);
}

.icon-close {
  fill: var(--dark-color);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.button-close:hover .icon-close,
.button-close:focus .icon-close {
  fill: var(--white-background);
}

.form-title {
  color: var(--dark-color);
  text-align: center;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.02em;
  margin-bottom: 16px;
}

.form-modal-container {
  margin-bottom: 8px;
}

.label-modal {
  display: block;
  margin-bottom: 4px;
  color: var(--light-slate);
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  position: relative;
  margin-bottom: 4px;
}

.label-modal::placeholder {
  color: var(--navyblue-modal, rgba(46, 47, 66, 0.4));
  font-family: inherit;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
}

.input-and-icon {
  position: relative;
}

.input-modal {
  width: 100%;
  height: 40px;
  border-radius: 4px;
  border: none;
  border: 1px solid var(--navyblue-modal, rgba(46, 47, 66, 0.4));
  padding-left: 38px;
  outline: transparent;
  background-color: transparent;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.input-modal:focus {
  border: 1px solid var(--primary-brand-color);
}

.icon-modal {
  fill: var(--dark-color);
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 16px;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.input-modal:focus + .icon-modal {
  fill: var(--primary-brand-color);
}

.form-modal-container-textarea {
  margin-bottom: 16px;
}

.modal-textarea {
  width: 100%;
  height: 120px;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: rgba(46, 47, 66, 0.4);
  border-radius: 4px;
  background-color: transparent;
  border: none;
  border: 1px solid rgba(46, 47, 66, 0.4);
  resize: none;
  padding: 8px 16px;
  outline: transparent;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-textarea:focus {
  border-color: var(--primary-brand-color);
}

.checkbox-container {
  margin-bottom: 24px;
}

.lable-checkbox {
  color: var(--light-slate);
  font-family: inherit;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
}

.checkbox-span {
  width: 16px;
  height: 16px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 2px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1),
    fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  display: inline-flex;
  align-items: center;
  justify-content: center;
  fill: transparent;
}

.checkbox-input {
  width: 100%;
  height: 120px;
  border-radius: 4px;
  border: none;
  border: 1px solid var(--navyblue-modal, rgba(46, 47, 66, 0.4));
  padding: 8px 16px;
  outline: transparent;
  background-color: transparent;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.checkbox-input:checked + .lable-checkbox span {
  background-color: var(--pressed-state-color);
  border: none;
  fill: var(--light-color);
}

.link-checkbox {
  color: var(--primary-brand-color);
  font-family: inherit;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 1.33;
  letter-spacing: 0.04em;
  text-decoration-line: underline;
}

.send-btn {
  border: none;
  padding: 16px 32px;
  border-radius: 4px;
  background-color: var(--primary-brand-color);
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
  color: var(--white-background);
  min-width: 169px;
  height: 56px;
  font-family: var(--primary-font);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  cursor: pointer;
  margin: 0 auto;
  display: block;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.send-btn:hover,
.send-btn:focus {
  background-color: var(--pressed-state-color);
}

/*--------------------mobile-menu-modal--------------------*/
.menu-toggle {
  border: none;
  cursor: pointer;
  background-color: var(--white-background);
}

@media (min-width: 768px) {
  .menu-toggle {
    display: none;
  }
}

.mobile-menu-icon {
  fill: var(--dark-color);
}

.menu {
  width: 100vw;
  height: 100vh;
  padding-left: 40px;
  padding-bottom: 40px;
  padding-top: 80px;
  background-color: #fcfcfc;
  position: fixed;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  z-index: 2;
}

.mob-menu-list li:not(:last-child) {
  margin-bottom: 40px;
}

.mob-menu-link {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  color: var(--dark-color);
  text-decoration: none;
  display: block;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.mob-menu-link:hover,
.mob-menu-link:focus {
  color: var(--pressed-state-color);
}

.contacts-mob-menu-tel {
  color: var(--dark-color);
  font-size: 36px;
  font-weight: 700;
  line-height: 1.11;
  letter-spacing: 0.02em;
  font-style: normal;
  text-transform: capitalize;
  display: block;
  margin-bottom: 40px;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.contacts-mob-menu-tel:hover,
.contacts-mob-menu-tel:focus {
  color: var(--pressed-state-color);
}

.contacts-mob-menu-mail {
  color: var(--text-color);
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.02em;
  display: block;
  margin-bottom: 48px;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.contacts-mob-menu-mail:hover,
.contacts-mob-menu-mail:focus {
  color: var(--pressed-state-color);
}

.socials-block-icons-mob-menu {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 56px;
  max-width: 328px;
}

.socials-link-mob-menu {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
  background-color: var(--primary-brand-color);
  border-radius: 50%;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.socials-link-mob-menu:hover {
  background-color: var(--green-color);
}

/*--------------------header-media--------------------*/
@media screen and (min-width: 428px) {
  .container {
    max-width: 426px;
  }
}

@media screen and (min-width: 768px) {
  .container {
    max-width: 766px;
    padding-top: 0;
    padding-bottom: 0;
  }
  .logo-header {
    margin-right: 120px;
  }
  .nav-list {
    display: flex;
    gap: 40px;
  }
  .list-address {
    display: flex;
    flex-direction: column;
    gap: 12px;
  }
  .menu-toggle {
    border: none;
    cursor: pointer;
    background-color: var(--white-background);
    display: none;
  }
}

@media screen and (min-width: 1158px) {
  .container {
    max-width: 1158px;
  }
  .logo-header {
    margin-right: 76px;
  }
  .list-address {
    flex-direction: row;
    gap: 40px;
  }
}

/*--------------------title-media--------------------*/
@media screen and (min-width: 428px) {
  .container {
    max-width: 426px;
  }
}

@media screen and (min-width: 768px) {
  .container {
    max-width: 766px;
  }
  .title {
    max-width: 768px;
    background-image: linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url(../images/bg-tab.jpg);
  }

  @media (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    .title {
      background-image: linear-gradient(
          rgba(46, 47, 66, 0.7),
          rgba(46, 47, 66, 0.7)
        ),
        url(../images/bg-tab-2x.jpg);
    }
  }

  .main-title {
    font-size: 56px;
    line-height: 1.07;
    max-width: 496px;
  }
  .main-button {
    margin-top: 36px;
  }
}

@media screen and (min-width: 1158px) {
  .container {
    max-width: 1158px;
  }

  .main-title {
    font-size: 56px;
    line-height: 1.07;
    max-width: 496px;
  }

  .main-button {
    margin-top: 48px;
  }

  .title {
    padding: 188px 0;
    background-image: linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url(../images/people-office.jpg);
    max-width: 1440px;
  }

  @media (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    .title {
      background-image: linear-gradient(
          rgba(46, 47, 66, 0.7),
          rgba(46, 47, 66, 0.7)
        ),
        url(../images/people-office-2x.jpg);
    }
  }
}

/*--------------------features-media--------------------*/
@media screen and (min-width: 428px) {
  .container {
    max-width: 426px;
  }
}

@media screen and (min-width: 768px) {
  .container {
    max-width: 766px;
  }
  .list-features {
    display: flex;
    flex-wrap: wrap;
    row-gap: 72px;
    column-gap: 24px;
  }
  .item-features {
    width: calc((100% - 24px) / 2);
  }
  .item-features:not(:last-child) {
    margin-bottom: 0;
  }
  .title-feature {
    text-align: left;
  }
}
@media screen and (min-width: 1158px) {
  .container {
    max-width: 1158px;
  }

  .features {
    padding: 120px 0;
  }

  .list-features {
    flex-wrap: nowrap;
    gap: 24px;
  }

  .item-features {
    width: calc((100% - 72px) / 4);
  }

  .features-block {
    width: 264px;
    height: 112px;
    background-color: var(--light-color);
    border-radius: 4px;
    margin-bottom: 8px;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .title-feature {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
  }

  .feature-text {
    font-weight: 400;
  }
}

/*--------------------doings-media--------------------*/
@media screen and (min-width: 1158px) {
  .doings .container {
    display: block;
  }
  .doings {
    padding-bottom: 120px;
  }
  .doings-tiile {
    font-size: 36px;
    font-weight: 700;
    line-height: 1.11;
    text-align: center;
    letter-spacing: 0.02em;
    color: var(--dark-color);
    text-transform: capitalize;
    margin-bottom: 72px;
  }
  .list-doinds {
    display: flex;
    gap: 24px;
    justify-content: center;
  }
  .item-doings {
    width: calc((100% - 48px) / 3);
  }
  .img-doings {
    width: 100%;
    max-width: 360px;
  }
}
/*--------------------team-media--------------------*/
@media screen and (min-width: 428px) {
  .container {
    max-width: 426px;
  }
}

@media screen and (min-width: 768px) {
  .container {
    max-width: 766px;
  }

  .list-team {
    max-width: 552px;
    display: flex;
    flex-wrap: wrap;
    row-gap: 64px;
    column-gap: 24px;
    margin: 0 auto;
  }
  .cards {
    width: calc((100% - 24px) / 2);
  }
  .cards:not(:last-child) {
    margin-bottom: 0;
  }
}
@media screen and (min-width: 1158px) {
  .container {
    max-width: 1158px;
  }
  .team {
    padding: 120px 0;
  }
  .list-team {
    flex-wrap: nowrap;
    gap: 24px;
    max-width: 1128px;
  }
  .cards {
    width: calc((100% - 72px) / 4);
  }
}

/*--------------------customers-media--------------------*/
@media screen and (min-width: 428px) {
  .container {
    max-width: 426px;
  }
}

@media screen and (min-width: 768px) {
  .container {
    max-width: 766px;
  }
  .customers-block {
    column-gap: 24px;
    row-gap: 72px;
  }
  .customers-list {
    width: calc((100% - 48px) / 3);
    height: 88px;
  }
}
@media screen and (min-width: 1158px) {
  .container {
    max-width: 1158px;
  }
  .customers {
    padding: 120px 0;
  }
  .customers-block {
    gap: 24px;
    flex-wrap: nowrap;
  }
}

/*--------------------footer-media--------------------*/
@media screen and (min-width: 428px) {
  .container {
    max-width: 426px;
  }
}

@media screen and (min-width: 768px) {
  .footer {
    padding-top: 97px;
    padding-bottom: 96;
    padding-left: 108px;
    padding-right: 164px;
  }

  .footer .container {
    padding: 0;
  }

  .container {
    max-width: 766px;
  }
  .logo-footer {
    text-align: start;
  }
  .logo-and-icons {
    display: flex;
    align-items: baseline;
    gap: 24px;
  }
  .footer-social-media {
    text-align: start;
  }
  .socials-block-icons-footer {
    margin-bottom: 0;
  }
  .fotter-form-text {
    text-align: start;
  }
  .form-subscribe {
    display: flex;
    gap: 24px;
  }
  .input-subscribe {
    width: 264px;
    margin-bottom: 0;
  }
  .button-subscribe {
    margin: 0;
  }
}

@media screen and (min-width: 1158px) {
  .container {
    max-width: 1158px;
  }
  .footer {
    padding: 100px 0;
  }
  .container-footer {
    display: flex;
    align-items: baseline;
  }

  .logo-and-paragraf {
    /* margin-right: 120px*/
    margin-bottom: 0;
  }

  .footer-paragraph {
    max-width: 264px;
  }
  .subscribe {
    margin-left: 80px;
  }
  .logo-and-icons {
    gap: 120px;
  }
}

/*--------------------modal-backdrope-media--------------------*/
@media screen and (min-width: 428px) {
  .container {
    max-width: 426px;
  }
}

@media screen and (min-width: 768px) {
  .container {
    max-width: 766px;
  }
  .modal {
    max-width: 408px;
  }
}

@media screen and (min-width: 1158px) {
  .container {
    max-width: 1158px;
  }
}
